In [1]:
import pandas as pd

df = pd.read_csv("C:/Users/layla/Escritorio/Lay/Docencia/Ticmas/Python/M4 - Introducci√≥n a las librerias cientificas con Python 4/Material para los Alumnos/3. Hands On Lab 2/data_corona_group.csv", sep = ";")

In [2]:
#Imprimir las primeras filas del df
df.head()

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020 12:00:00,Anhui,China,01/22/2020 12:00:00,1,0,0
1,2,01/22/2020 12:00:00,Beijing,China,01/22/2020 12:00:00,14,0,0
2,3,01/22/2020 12:00:00,Chongqing,China,01/22/2020 12:00:00,6,0,0
3,4,01/22/2020 12:00:00,Fujian,China,01/22/2020 12:00:00,1,0,0
4,5,01/22/2020 12:00:00,Gansu,China,01/22/2020 12:00:00,0,0,0

In [3]:
#Imprimir las ultimas filas
df.tail()

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
116,1715,02/17/2020 22:00:00,"Madison, WI",US,2020-02-05T21:53:02,1,0,0
117,1716,02/17/2020 22:00:00,"Orange, CA",US,2020-02-01T19:53:03,1,0,0
118,1717,02/17/2020 22:00:00,"San Antonio, TX",US,2020-02-13T18:53:02,1,0,0
119,1718,02/17/2020 22:00:00,"Seattle, WA",US,2020-02-09T07:03:04,1,0,1
120,1719,02/17/2020 22:00:00,"Tempe, AZ",US,2020-02-01T19:43:03,1,0,0

In [4]:
#Imprimir las dimensiones del dataset
print(df.shape)

(121, 8)

In [5]:
#Totalidad de Registros por columnas
df.count()

Sno               121
Date              121
Province/State     95
Country           121
Last Update       121
Confirmed         121
Deaths            121
Recovered         121
dtype: int64

In [6]:
#Analicemos ahora los tipos de dato de cada columna
df.dtypes

Sno                int64
Date              object
Province/State    object
Country           object
Last Update       object
Confirmed          int64
Deaths             int64
Recovered          int64
dtype: object

In [7]:
#Verificamos la estructura del dataset
type(df)

pandas.core.frame.DataFrame

In [8]:
#Listado de las columnas
print(df.columns)

Index(['Sno', 'Date', 'Province/State', 'Country', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered'],
      dtype='object')

In [9]:
#Eliminacion de ciertas columnas del df
df.drop(columns = ['Date', 'Last Update'], inplace = True) #Sobreescribir el objeto

In [10]:
#Verificamos la eliminacion
print(df.shape)

(121, 6)

In [11]:
#Determinar cuantos valores faltantes tenemos por cada columna
print(df.isna().sum()) #isna es una funcion booleana --> V/F

Sno                0
Province/State    26
Country            0
Confirmed          0
Deaths             0
Recovered          0
dtype: int64

In [12]:
#Tambien podemos utilizar la funcion info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sno             121 non-null    int64
 1   Province/State  95 non-null     object
 2   Country         121 non-null    object
 3   Confirmed       121 non-null    int64
 4   Deaths          121 non-null    int64
 5   Recovered       121 non-null    int64
dtypes: int64(4), object(2)
memory usage: 5.8+ KB

In [13]:
#Describe Python
df.describe()    #de forma rapida un EDA ---> Analisis Exploratorio de Datos

               Sno     Confirmed       Deaths    Recovered
count   121.000000    121.000000   121.000000   121.000000
mean   1086.743802    610.677686    15.438017   103.991736
std     774.530293   5449.482485   162.589150   718.648077
min       1.000000      0.000000     0.000000     0.000000
25%      31.000000      1.000000     0.000000     0.000000
50%    1659.000000      4.000000     0.000000     0.000000
75%    1689.000000     72.000000     0.000000    12.000000
max    1719.000000  59989.000000  1789.000000  7862.000000

In [14]:
df.describe().T

           count         mean          std  min   25%     50%     75%      max
Sno        121.0  1086.743802   774.530293  1.0  31.0  1659.0  1689.0   1719.0
Confirmed  121.0   610.677686  5449.482485  0.0   1.0     4.0    72.0  59989.0
Deaths     121.0    15.438017   162.589150  0.0   0.0     0.0     0.0   1789.0
Recovered  121.0   103.991736   718.648077  0.0   0.0     0.0    12.0   7862.0